@(channel: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>
        <script type="text/javascript">var channel = "@channel"; console.log(channel);</script>
        <script src="http://localhost/git/warp-client/bower_components/reconnectingWebsocket/reconnecting-websocket.js" type="text/javascript"></script>
        <script src="http://localhost/git/warp-client/warp.js" type="text/javascript"></script>
        <script type="text/javascript">
            //var ws = new ReconnectingWebSocket('ws://localhost:9000/socket/default');
            var warp = new Warp({"params": {"id": Math.random()}});
            warp.subscribe("default", function(msg) {
                console.log("[client] default: "+JSON.stringify(msg));
            })

//            warp.subscribe("other", function(msg) {
//                console.log("[client] other: "+JSON.stringify(msg));
//            })


            warp.beam("default", {"what's": "up"});
//            warp.beam("other", {"what's": "up"});




        </script>
    </body>
</html>
